*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Libertinus Sans", sans-serif;
    font-size: 16.392px;
    background-color: #f5f5f5;
}
@font-face {
  font-family: 'MyFont';
  src: url('./Barlow-Regular.ttf') format('truetype');
}

.box-heading{
    width: 1351px;
}
span{
    display: flex;
    gap: 7px;
}
.navbar-image{
    text-decoration: none;
    font-size: 30.052px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin-left: 68px;
}
.navbar-link{
    text-decoration: none;
    font-size: 16.392px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}
.synergo{
    width: 40.98px;
}
.menu > li{
    list-style: none;
}
.menu{
    width: 65.4%;
    display: flex;
    gap: 20px;
    padding-top: 7px;
}

.services{
  position: relative;
}

.services-menu{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: white;
      color: black;
    width: 230px;
    height: 100px;
    padding: 20px 21px;
    list-style: none;
    z-index: 2;
        transition: 0.2s;
}

.services-menu > .delivered-projects{
    margin-top: 5px;
    margin-bottom: 12px;
}

.services:hover .services-menu {
      transform: translateY(7px);
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
.delivered-projects > a{
  text-decoration: none;
  color: black;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 12px;
}

.navbar-link{
  margin-bottom: 2px;
}


.main{
    margin-bottom: 118px;
}
.main-image{
    width: 1351px;
    height: 59.9vh;
    position: relative;
}

.boxes{
    width: 1351px;
    display: flex;
    flex-wrap: wrap;
        font-family: "barlow", sans-serif;
        padding-bottom: 10.1rem;
        
}
.sub-heading{
        font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fc5e28;
    letter-spacing: 2px;
    font-weight: 600;
        display: flex;
    justify-content: center;
}
.latest-project{
        font-size: 40px;
    font-weight: 700;
        display: flex;
    justify-content: center;
    margin-bottom: 88px;
}

.boxes > div{
    width: 337px;
    height: 482px;
}

.box1{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://acwapower.com/media/341220/azerbijan.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    padding: 20px;
}
.box2{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("./twelve-high-voltage-cable-construction-techniques-used-worldwide-920x618.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            z-index: 0;
                padding: 20px;
}
.box3{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://ideas.ted.com/wp-content/uploads/sites/3/2021/08/FINAL_Climate-Repair_credit_Stocksy.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            padding: 20px;
}
.box4{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://cdn.corporatefinanceinstitute.com/assets/Oil-1-1024x684.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            z-index: 0;
                padding: 20px;
}
.box5{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://res.cloudinary.com/dljpjmypg/image/upload/v1758849457/WhatsApp_Image_2025-09-25_at_16.20.46_oy9dtz.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            z-index: 0;
                padding: 20px;
}
.box6{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://res.cloudinary.com/dljpjmypg/image/upload/v1758849242/WhatsApp_Image_2025-09-25_at_16.20.45_fla0z4.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            z-index: 0;
                padding: 20px;
}
.box7{
    background-image: 
        -webkit-linear-gradient(top, rgba(2, 26, 71, 0) 0%, rgba(2, 26, 71, 0.6) 100%),
        url("https://res.cloudinary.com/dljpjmypg/image/upload/v1758848675/Picture1_jznzqu.jpg");
    background-size: cover;
    background-position: center;
        position: relative;
            z-index: 0;
                padding: 20px;
}
.box1::after, .box2::after, .box3::after, .box4::after, .box5::after, .box6::after, .box7::after{
    content: "";
    background-color: #f27420;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .4s;
    opacity: 0;
}

.box1:hover::after, .box2:hover::after, .box3:hover::after, .box4:hover::after, .box5:hover::after, .box6:hover::after, .box7:hover::after{
    opacity: 1;
    transition: .4s;
}
.box1-back, .box2-back, .box3-back, .box4-back, .box5-back, .box6-back, .box7-back{
    opacity: 0;
    position: relative;
    z-index: 0;
}
.box1:hover .box1-back, .box2:hover .box2-back, .box3:hover .box3-back, .box4:hover .box4-back, .box5:hover .box5-back, .box6:hover .box6-back, .box7:hover .box7-back{
    opacity: 1;
    position: absolute;
    z-index: 2;
}

.content1{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-top: 9rem;
        margin-bottom: 5px
}

.heading{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
        margin-bottom: 20px;
}

.content2{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
        margin-bottom: 30px;
            line-height: 24px;
}

.read-more{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #f59758
}

.want-to-work-box{
    background-color: #f27420;
    width: 1351px;
    overflow: hidden;
}

.want-to-work{
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
.arrow-box{
    overflow: hidden;
}

.want-to-work > h2{
    font-family: "barlow", sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
}

.button {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 228px;
    height: 48px;
    transition: all 0.3s ease 0s;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;  
    z-index: 0;
        margin-top: 79px;
}

.button > a {
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 2;
}


.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #021a47;  
        transition: all 0.3s ease 0s;
    z-index: 0;           
}

.button::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -8px;
    width: 100%;
    height: 100%;
    background: white;  
        transition: all 0.3s ease 0s;
    z-index: -1;
}

.button:hover::after{
    top: 8px;
    left: 8px;
    transition: all 0.3s ease 0s;
}

.arrow{
    background-repeat: no-repeat;
    height: 28px;
}

.arrow-box{
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%, 100%{
        transform: translate(0, 0);
        overflow: hidden;
    }
    50%{
        transform: translate(5px, 0);
                overflow: hidden;
    }
}
