*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Mulish", sans-serif;
    font-size: 16.392px;
    background-color: #f5f5f5;
    line-height: 1.4;
}

span{
    display: flex;
    gap: 7px;
}
.navbar-image{
    text-decoration: none;
    font-size: 30.052px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin-left: 68px;
}
.navbar-link{
    text-decoration: none;
    font-size: 16.392px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}
.synergo{
    width: 40.98px;
}
.menu > li{
    list-style: none;
}
.menu{
    width: 65.4%;
    display: flex;
    gap: 20px;
    padding-top: 7px;
}

.services{
  position: relative;
}

.services-menu{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: white;
      color: black;
    width: 234px;
    height: 100px;
    padding: 20px 21px;
    list-style: none;
    z-index: 2;
        transition: 0.2s;
}

.services-menu > .delivered-projects{
    margin-top: 5px;
    margin-bottom: 12px;
}

.services:hover .services-menu {
      transform: translateY(7px);
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
.delivered-projects > a{
  text-decoration: none;
  color: black;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 12px;
}

.navbar-link{
  margin-bottom: 2px;
}

.main{
    margin-bottom: 118px;
}
.main-image{
    width: 1351px;
    height: 59.9vh;
    position: relative;
        object-fit: cover;
}
.box{
    display: flex;
    justify-content: center;
    gap: 67px;
}
.img{
    width: 636px;
    height: 423px;
    object-fit: cover;
}

.title{
    font-size: 32px;
    width: 603px;
    margin-bottom: 15px;
}

.box-content1{
  font-size: 17px;
  width: 600px;
  line-height: 1.5;
  color: #2b2b2b;
}
.box-content2 > p{
    margin-bottom: 6px;
}

.box-content1 {
  margin-bottom: 18px;
}

.box-content2 {
  margin-bottom: 18px;
}
