*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Libertinus Sans", sans-serif;
    font-size: 16.392px;
    background-color: #f5f5f5;
}
span{
    display: flex;
    gap: 7px;
}
.navbar-image{
    text-decoration: none;
    font-size: 30.052px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin-left: 68px;
}
.navbar-link{
    text-decoration: none;
    font-size: 16.392px;
    color: rgb(40, 40, 40);
    font-weight: bold;
}
.synergo{
    width: 40.98px;
}
.menu > li{
    list-style: none;
}
.menu{
    width: 65.4%;
    display: flex;
    gap: 20px;
    padding-top: 7px;
}

.services{
  position: relative;
}

.services-menu{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: white;
      color: black;
    width: 230px;
    height: 100px;
    padding: 20px 21px;
    list-style: none;
    z-index: 2;
        transition: 0.2s;
}

.services-menu > .delivered-projects{
    margin-top: 5px;
    margin-bottom: 12px;
}

.services:hover .services-menu {
      transform: translateY(7px);
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
.delivered-projects > a{
  text-decoration: none;
  color: black;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 12px;
}

.navbar-link{
  margin-bottom: 2px;
}

.slider{
    width: 1351px;
    height: 59.9vh;
    position: relative;
        overflow: hidden;
}

.slider-image{
    width: 100%;
    height: 59.9vh;
    z-index: 0;
    opacity: 0;
    object-fit: cover;

  transition: opacity 0.6s ease;
    position: absolute;
}

.show{
  transition: opacity 0.6s ease;
    z-index: 1;
    opacity: 1;
}



.content{
    position: absolute;
    font-size: 40.98px;
    top: 47px;
    left: 40px;
    z-index: 0;
    opacity: 0;
  transition: opacity 0.6s ease;
  color: white;
}

.show-content{
    z-index: 1;
    opacity: 1;
}

.boxes{
    display: flex;
    padding-top: 3px;
    gap: 5px;
    padding-bottom: 50px;
}
.box-image{
    width: 266.20px;
    height: 109.28px;
}

.service-title{
  width: 1351px;
  display: flex;
  justify-content: center;
}
.service-title > h2{
  font-size: 40.98px;
  color: #f6921e;
  font-weight: bold;
  padding-bottom: 40px;
}

.service{
    display: flex;
    gap: 5px;
    padding-bottom: 40px;
}

.card {
  width: 450.78px;
  height: 450.78px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 0.8125rem 0 rgb(196, 183, 1183);
            
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}

/* başlanğıcda arxa tərəfi gizlə */
.back {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-content{
  font-size: 27.32px;
  color: #63636b;
}

/* hover zamanı ön tərəfi gizlə, arxanı göstər */
.card:hover .front {
  opacity: 0;
  transform: rotateY(180deg);
}

.card:hover .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.project-container{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1350px;
  overflow: hidden;

}

.project-title{
  width: 1351px;
  display: flex;
  justify-content: center;
  padding-top: 68.3px;

}

.project-title > h2{
    font-size: 40.98px;
    font-weight: bold;
    padding-bottom: 40.98px;
  color: rgb(40, 40, 40);
}

.project-box1{
  display: flex;
  gap: 1rem; /* istəsən */
  width: max-content; /* bütün kartları əhatə etsin */
  transition: transform 0.5s ease;
  padding-bottom: 69px;
}

.project-card1, .project-card2{
  position: relative;
  width: 291.2px;
  height: 409.8px;
  background-color: white;
  box-shadow: 0 0 0.8125rem 0 rgb(196, 183, 1183);
  
}

.project-content{
  font-size: 27.32px;
  color: #63636b;
}

.project-image{
  width: 291.2px;
  height: 409.8px;
  object-fit: cover;
}


.project-front, .project-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    transition: 0.6s;
}
.project-back{
  opacity: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

.project-card1:hover .project-front{
  opacity: 0;
  transform-origin: bottom  ;
  top: 140px;

}
.project-card1:hover .project-back{
  opacity: 1;
    transform: rotateX(0deg);
}
.counter-title{
  width: 1351px;
}
.counter-container{
  width: 1351px;
}
.counter-title > h2{
  display: flex;
  justify-content: center;
  background-color: #a0d8f1;
  font-size: 40.98px;
  color: rgb(40, 40, 40);
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 69px;
}

.counter-boxes{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 380px;
  height: 840px;
  background-color: #a0d8f1;
  position: relative;
}
.counter-boxes::before{
  content: "";
  position: absolute;
  width: 375px;
  height: 1px;
  border-top: 1px solid #333333;
  top: 458px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.counter-box1, .counter-box2, .counter-box3, .counter-box4{
  width: 255px;
  height: 255px;;
  background-color: lightblue;
  transform: rotate(45deg);
  position: relative;
}

.counter-box2, .counter-box4{
  margin-top: -185px;
}

.counter-text{
  width: 255px;
  height: 255px;;
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-icon{
  font-size: 63px;
  color: rgb(5,188,237);
}

.counter-heading1, .counter-heading2, .counter-heading3, .counter-heading4{
  font-family: "Play", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
  margin-top: 18px;
}

.counter-content{
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.counter-box1::before{
  content: "";
  position: absolute;
  width: 373px;
  height: 256px;
  top: -1px;
  bottom: -2px;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
}

.counter-box2::before{
  content: "";
  position: absolute;
  width: 630px;
  height: 375px;
  top: -58px;
  left: -57px;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
}

.counter-box3::before{
  content: "";
  position: absolute;
  width: 634px;
  height: 632px;
  left: -63px;
  bottom: -315px;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
}

.counter-box4::before{
  content: "";
  position: absolute;
  width: 630px;
  height: 630px;
  left: -375px;
  bottom: -376px;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.sectors-container{
  width: 1351px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23898989'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}
.sectors-title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectors-title > h2{
  font-size: 40.98px;
  color: #f6921e;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 69px;
}

.sectors-box1{
  display: flex;
  justify-content: center;
  gap: 62px;
  padding-bottom: 27.32px;
}
.sectors-box2{
  display: flex;
    justify-content: center;
  gap: 62px;
}

.sectors-card{
  position: relative;
    width: 546.4px;
  height: 163.92px;
  border-radius: 13.66px;
  border: 0.1vw solid rgb(255, 255, 255);
}

.sectors-image{
  width: 546.4px;
  height: 163.92px;
  object-fit: cover;
    border-radius: 13.66px;
}


.sectors-front1, .sectors-front2, .sectors-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
}

.sectors-back{
  opacity: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sectors-content{
  font-size: 27.32px;
  color: #63636b;
}

.sectors-card:hover .sectors-front1{
  opacity: 0;
  transform-origin: bottom  ;
  top: -140px;

}

.sectors-card:hover .sectors-front2{
  opacity: 0;
  transform-origin: bottom  ;
  top: 140px;

}
.sectors-card:hover .sectors-back{
  opacity: 1;
}